{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/Nazar.ico' %}" type="image/x-icon">
    <meta name="google-site-verification" content="Hv5GR78kUXJNpcsN-mc-ni7FNIgL3D5RXB8goRyrLTw" />
    <meta name="description" content="Explore the dark labyrinth, survive with a flashlight, and escape the mystery. Download and play Labyrinth of Mystery now.">
    <meta name="keywords" content="labyrinth, mystery game, horror, scary game, maze, flashlight, escape game, download">
    <meta name="robots" content="index, follow">
    <title>Labyrinth of mystery by free</title>
</head>
<body>
    <div class="main-content-wrapper">
        <div class="corner">
            <div class="centered-box">
                <h1>Play the Labyrinth of Mystery by free!</h1>
                <p>its very good and nice game to spend your time!</p>
                <a href="{% url 'about' %}">
                    <button type="button">Register and Download</button>
                </a>
            </div>
        <div class="big-text">
            <p>
Welcome to Labyrinth of Mystery, a thrilling and dark maze survival game! Your goal is to find your way out of a deep, shadowy labyrinth filled with dangers lurking in the darkness.

To survive, you’ll need to carefully explore the maze while using your flashlight - only its beam can reveal the path ahead and help you avoid traps and the relentless enemy chasing you. But beware: the labyrinth is full of twists, dead ends, and shadows where the enemy can hide.

A unique feature of the game is that you can choose a photo - even your own picture - to be used as the texture for the enemy chasing you. This personalizes your experience and makes the threat feel even more real.

Can you keep your cool, stay in the light, and find the exit before the enemy catches you? The labyrinth is dark, the danger is real, and only your wits and flashlight can save you!</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="comment-list">
          {% for comment in comments %}
            <p>
              <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
              {% if user.is_staff %}
                <a href="{% url 'delete_comment' comment.id %}" onclick="return confirm('Удалить этот комментарий?');" style="color: red; margin-left: 10px;">[Удалить]</a>
              {% endif %}
            </p>
          {% empty %}
            <p>No comments yet.</p>
          {% endfor %}
        </div>

        © 2025 Arur | Contact: buartur12@gmail.com
    </footer>

</body>
</html>