{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/Nazar.ico' %}" type="image/x-icon">
    <title>Log in</title>
</head>
<body>
 <div class="main-content-wrapper">
   <div class="centered-box">
    <h2>Log in</h2>
    <form method="post" id="my-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
    </form>
   </div>
 </div>
    <footer>
        <div class="comment-list">
          {% for comment in comments %}
            <p>
              <strong>{{ comment.user.username }}</strong>: {{ comment.content }}
              {% if user.is_staff %}
                <a href="{% url 'delete_comment' comment.id %}" onclick="return confirm('Удалить этот комментарий?');" style="color: red; margin-left: 10px;">[Удалить]</a>
              {% endif %}
            </p>
          {% empty %}
            <p>No comments yet.</p>
          {% endfor %}
        </div>

        © 2025 Arur | Contact: buartur12@gmail.com
    </footer>
</body>
</html>
