 body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #33334d, #000033);
    box-sizing: border-box;
}

.centered-box {
  text-align: center;
}

h1 {
    color: white;
    font-size: 40px;
}

p {
    color: white;
    font-size: 40px;
}

button {
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    background: linear-gradient(to bottom, #666699, #000033);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: linear-gradient(to bottom, #666699, #000033);
  transform: scale(1.05);
}

.main-content-wrapper {
  flex-grow: 1;
  padding: 20px;
  min-height: 100vh;
}

footer {
  width: 100%;
  background-color: #33334d;
  padding: 60px 0;
  margin-top: auto;
  min-height: 30vh;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.big-text {
  max-width: 900px;
  margin: 80px auto;
  padding: 20px;
  font-size: 20px;
  line-height: 1.6;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: #333;
  text-align: justify;
}

.big-text {
  transform: scale(1.3);
  transform-origin: top right;
}

.big-text p {
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

textarea {
    width: 90%;
    resize: vertical;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 14px;
    background-color: #333;
    color: white;
}

.comment-list {
    margin-top: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.comment-list p {
    margin: 5px 0;
    padding: 6px;
    background: #2c2c2c;
    border-radius: 4px;
}

#my-form label,
#my-form input,
#my-form textarea,
#my-form select {
  color: white;
}

#my-form input,
#my-form textarea,
#my-form select {
  background-color: #222;
  border: 1px solid #444;
}

#my-form input::placeholder,
#my-form textarea::placeholder {
  color: #aaa;
}
